[project]
	description = A program to time different versions of functions that calculate fibonacci numbers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Noah Eisen (ncteisen)
[access "refs/for/refs/*"]
	read = group user/Noah Eisen (ncteisen)
	push = group user/Noah Eisen (ncteisen)
	label-Code-Review = -2..+2 group user/Noah Eisen (ncteisen)
	label-Verified = -1..+1 group user/Noah Eisen (ncteisen)
	rebase = group user/Noah Eisen (ncteisen)
	removeReviewer = group user/Noah Eisen (ncteisen)
	submit = group user/Noah Eisen (ncteisen)
[access "refs/heads/*"]
	read = group user/Noah Eisen (ncteisen)
	create = group user/Noah Eisen (ncteisen)
	push = +force group user/Noah Eisen (ncteisen)
	pushMerge = group user/Noah Eisen (ncteisen)
[access "refs/tags/*"]
	push = group user/Noah Eisen (ncteisen)
	push = +force group user/Noah Eisen (ncteisen)
